@import "_variables";

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  padding: 15px;
}


.card {
  flex: 1 0 45%;
  padding: 5px;


  a {
    text-decoration: none;
    color: black;

  }
}

.card-img {
  margin: 15px;
  height: 400px;
  position: relative;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 2px 2px 10px 2px #e0e0e0;
}

.card-img img {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-img .img-btn-left {
  position: absolute;
  top: 5%;
  right: 3%;
  background-color: #99e2d0;
  color: #008766;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.card-img .img-btn-right {
  position: absolute;
  top: 5%;
  right: 3%;
  -ms-transform: translate(-50%, -50%);
  background-color: #99e2d0;
  color: #008766;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}


.card-img .card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.8em 0.8em 0.8em 0.8em;
  min-height: 80px;
}

.card-body .strong {
  font-weight: 900;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 1.2rem;
 // color: #222222;


}

.card-body .card-footer {
  font-size: 1.1rem;
  width: 80%;
}

.content-body {
  background-color: $grey;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;

  .menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;

    .col-3{
      margin: 0 0 50px 20px;
      position: absolute;
      top: 5%;
    }
    .heart {

    }

    h1 {
      font-size: 2.5rem;
      width: 95%;
      padding: 20px 20px 20px 0;
      font-family: Shrikhand, cursive;
    }


  }
}

.cards-menu {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;



  section {

    padding: 15px 30px 15px 0;
    margin: 0 0 20px 0;
    flex: 1 0 33.33%;


    .menu-card {
      display: flex;
     /* flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;*/
      background-color: white;
      box-shadow: 2px 2px 10px 2px #e0e0e0;
      //flex: 1 0 25%;
      margin: 15px;
      border-radius: 15px;

      hgroup {
        padding: 10px;
        flex: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .strong {
        color: black;
        font-family: "Roboto-Bold", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        width: 90%;
      }

      h3 {
        font-size: 0.90rem;
        font-weight: 600;
        color: darken($grey, 60);
      }

      .prix {
        font-family: "Roboto-Bold", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        padding-right: 10px;
        display: flex;
        align-items: center;
      }

      .circle-hover-btn {
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        display: none;
        position: relative;

        i {
          color: #fff;
          font-size: 24px;
          transform: rotate(360deg);
        }
      }

      &:hover .circle-hover-btn {
        animation: circle-hover-btn ease .3s;
       /* animation-fill-mode: forwards;
        animation-iteration-count: 1;*/
        background-color: $tertiaire;
        display: block;
        flex: 0 0 15%;
        max-width: 50px;
        overflow: hidden;
        transform-origin: 50% 50%;
      }

     &:hover .fa-check-circle {
          animation: hover-btn ease .25s;
          animation-iteration-count: 1;
          left: 27%;
          position: absolute;
          top: 30%;

        }
      }
    }
  }


  .menu-details {
    font-weight: 900;
    color: $darkGrey;
    font-size: 1rem;
    width: 40px;
    margin: 0 0 10px 20px;
    border-bottom: 3px solid $tertiaire;

  }
@for $i from 1 through 15 {
  .anim-fade-#{$i} {
    animation: fadein $card-delay * $i;
  }
}
