@import "_variables";

@media screen and (max-width: 1280px) {

  .button-rose {
    background-image: linear-gradient(#FF79DA, #9356DC);
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    height: auto;
    margin: 15px;
    padding: 15px 20px 20px 20px;
    color: white;
    box-shadow: 6px 6px 10px #c3c3c3;
  }

  footer .logo {
    filter: invert(100%);
    margin-bottom: 50px;
    width: 400px;
  }

}

@media screen and (max-width: 1112px) {

  /*Menus*/
  .content-body .menu h1 {
    font-size: 2rem;
    width: 95%;
    padding: 20px 20px 20px 20px;
    font-family: Shrikhand, cursive;
  }

  .cards-menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    section {
      flex-direction: column;
      height: auto;
      width: 100%;
      margin-top: 15px;
      flex: 1 0 auto;
    }
  }

  footer .col {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;

    .footer-icon .fas {
      width: 16%;
      color: white;
    }
  }

}


@media screen and (max-width: 1024px) and (orientation: landscape) {


  .accueil-logo {
    margin: 10px;
    display: flex;

    img {

      width: 300px;
    }
  }


  .header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding: 0 10px 10px 10px;
    margin: 0;
  }
  h1 {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 25px 25px 10px 25px;
  }
  h2 {
    font-size: 1.1rem;
    font-weight: 300;
    color: #777777;
    padding: 0 0 15px 0;
  }


  .button-rose {
    background-image: linear-gradient($secondary, $primary);
    font-size: 1rem;
    border: none;
    width: auto;
    cursor: pointer;
    border-radius: 30px;
    margin: 15px;
    padding: 15px 20px 20px 20px;
    color: white;
    box-shadow: 6px 6px 10px darken($grey, 20);
  }
  /*header right*/

  .right {
    font-size: 1.4rem;
  }

  .header-right .number .number-button {
    color: #484848;
    flex: 1 0 auto;
    position: relative;
    font-size: 1rem;
    padding: 15px 0;
    border-radius: 30px;
    background-color: $lightGrey;
    margin: 0 20px;
    width: 100%;
  }

  .restaurants {

    font-size: 1.5rem;
  }


  footer {
    .logo {
      margin: 0;
      width: 300px;
    }

    .col {

      font-size: 1.2rem;
      margin-left: 25px;
      margin-top: 40px;

      .start {
        width: 40%;
      }

      .middle {
        width: 40%;
      }

      .end {
        margin-left: 35px;
      }
    }
  }

  /*Menus*/
  .content-body .menu h1 {
    font-size: 2rem;
    width: 95%;
    padding: 20px 20px 20px 20px;
    font-family: Shrikhand, cursive;
  }

  .cards-menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    section {
      flex-direction: column;
      height: auto;
      width: 100%;
      margin-top: 15px;
      flex: 1 0 auto;
    }
  }

}

@media screen and (max-width: 834px) {

  /*Menus*/
  .content-body .menu h1 {
    font-size: 2rem;
    width: 95%;
    padding: 20px 20px 20px 20px;
    font-family: Shrikhand, cursive;
  }

  .cards-menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    section {
      flex-direction: column;
      height: auto;
      width: 100%;
      margin-top: 15px;
      flex: 1 0 auto;
    }
  }

  footer .col {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;

    .footer-icon .fas {
      width: 16%;
      color: white;
    }
  }

}


@media screen and(max-width: 800px) {
  .accueil-logo {
    img {
      width: 300px;
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1rem;
    color: #777777;
  }
  .button-rose {
    font-size: 1rem;
    width: auto;
  }
  .right {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
  }
  .header-right .number {
    display: flex;
    padding: 15px;
  }
  .header-right .number .number-button {
    color: #484848;
    flex: 1 0 auto;
    position: relative;
    font-size: 1rem;
    padding: 15px 0;
    border-radius: 30px;
    background-color: $lightGrey;
    margin: 0 20px;
    width: 100%;
  }

  #content {
    margin-top: 50px;
    display: flex;
    flex: 0 0 100%;
    margin-bottom: 60px;

    .cards {
      display: flex;
      flex-wrap: wrap;
    }
    .restaurants {
      font-weight: 900;
      font-size: 1.5rem;
      width: 100%;
      margin-bottom: 20px;
      margin-left: 20px;
      color: black;
    }
    .card {
      flex: 1 0 100%;
      padding: 5px;
    }
  }

  footer .logo {
    filter: invert(100%);
    margin-bottom: 50px;
    width: 300px;
  }

  /*Menus*/
  .content-body .menu h1 {
    font-size: 2rem;
    width: 95%;
    padding: 20px 20px 20px 15px;
  }

  .menus section {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 15px;
    flex: 1 0 auto;
  }

  footer .col {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;

    .footer-icon .fas {
      width: 16%;
      color: white;
    }
  }

  /*Menus*/

  .button-rose-menu {
    background-image: linear-gradient(#FF79DA, #9356DC);
    font-size: 1rem;
    border: none;
    width: auto;
    cursor: pointer;
    border-radius: 30px;
    height: auto;
    margin: 15px 15px 50px 15px;
    padding: 15px 20px 20px 20px;
    color: white;
    box-shadow: 6px 6px 10px #c3c3c3;
  }

}



@media screen and (max-width: 768px) {
  .accueil-logo {
    margin: 10px;
    display: flex;
    justify-content: center;

    img {
      width: 200px;
    }
  }

  .header {
    display: block;
    padding: 10px;
    margin: 0;
  }
  h1 {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 25px 25px 10px 25px;
  }
  h2 {
    font-size: 1.1rem;
    font-weight: 300;
    color: #777777;
    padding: 0 0 15px 0;
  }
  .button-rose {
    font-size: 1rem;
    width: auto;
  }
  .right {
    font-size: 1.4rem;
  }

  .header-right .number .number-button {
    color: #484848;
    flex: 1 0 auto;
    position: relative;
    font-size: 1.1rem;
    padding: 15px 0;
    border-radius: 30px;
    background-color: #f2f2f2;
    margin: 0 20px;
  }

  #content {
    margin-top: 50px;
    display: flex;
  }

  .cards {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding-right: 15px;
    padding-left: 0;
    margin: auto;

    .card {
      padding-right: 15px;
    }

    .restaurants {
      font-weight: 900;
      font-size: 1.5rem;
      margin-left: 25px;
      margin-bottom: 5px;
      color: black;
    }
  }



  footer {

    .logo {
      filter: invert(100%);
      margin-left: 5px;
      margin-bottom: 35px;
      width: 200px;
    }

    .col {
      font-size: 1rem;
      display: flex;
      font-weight: normal;
      flex-direction: row;
      margin: 0;
      height: auto;
      padding: 25px;

      .start {
        width: 40%;
      }

      .middle {
        width: 40%;
      }

      .end {
        margin-left: 35px;
      }
    }
  }

  /*Menus*/

  .cards-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    section {
      .menu-card hgroup {

        padding: 3px 3px 3px 13px;
        flex: 1 0 auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 15px;
      }
    }
  }


  .button-rose-menu {
    background-image: linear-gradient(#FF79DA, #9356DC);
    font-size: 1rem;
    border: none;
    width: 20%;
    cursor: pointer;
    border-radius: 30px;
    height: auto;
    margin: 15px 15px 50px 15px;
    padding: 15px 20px 20px 20px;
    color: white;
    box-shadow: 6px 6px 10px #c3c3c3;
  }

}


@media screen and (max-width: 667px) {

  footer {

    .logo {
      filter: invert(100%);
      margin-left: 5px;
      margin-bottom: 35px;
      width: 200px;
    }

    .col {
      font-size: 1rem;

      .start {
        width: 33%;
      }

      .middle {
        width: 26%;
      }

      .end {
        margin-left: 0;
      }
    }
  }

  .header {
    display: block;
    padding: 10px;
    margin: 0;
    position: relative;
  }
  .menus .back-index {
    font-size: 1.3rem;
    position: absolute;
    top: 1.7rem;
    left: 2rem;
    font-weight: 900;
    color: black;
  }

  .content-top {
    height: 140px;

    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }

  .content-body {
    background-color: #f6f6f6;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    display: flex;

    .menu {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto;
      width: 100%;
    }

  }

  .content-body .menu h1 {
    font-size: 1.4rem;
    width: 80%;
    padding: 20px 20px 20px 0;
  }

  .cards-menu section {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 15px;
    flex: 1 0 auto;

    .menu-card hgroup {
      padding: 3px 3px 3px 13px;
      flex: 1 1 auto;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-left: 15px;

      h2 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .button-rose-menu {
    background-image: linear-gradient(#FF79DA, #9356DC);
    font-size: 1rem;
    border: none;
    width: auto;
    cursor: pointer;
    border-radius: 30px;
    height: auto;
    margin: 15px 15px 50px 15px;
    padding: 15px 20px 20px 20px;
    color: white;
    box-shadow: 6px 6px 10px #c3c3c3;
  }

}

@media screen and (max-width: 414px) {

  .accueil-logo {
    margin: 10px;
    display: flex;
    width: 100%;
    justify-content: center;

    img {
      width: 200px;
    }
  }

  .button-rose {
    font-size: 0.70rem;
    width: auto;
  }

  .header-right {
    display: block;
    padding: 0 0 15px 0;

    .number {
      display: flex;
      justify-content: flex-end;
      margin-left: 20px;

      .number-button {
        font-size: 16px;
        width: 100%;
      }
    }
  }

  .right {
    font-size: 25px;
    margin-left: 25px;
  }

  #content {
    margin-top: 50px;
    margin-bottom: 60px;

    .cards {
      padding: 0;

      .card {
        height: 270px;
        padding-right: 30px;
      }
    }

    .restaurants {
      font-weight: 900;
      font-size: 1.4rem;
      margin-left: 25px;
      margin-bottom: 5px;
      color: black;
    }

  }


  .card {
    .card-img {
      margin: 10px;
      height: 250px;
      position: relative;
      background-color: white;
      border-radius: 2rem;
      box-shadow: 2px 2px 10px 2px #e0e0e0;

      img {
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        width: 100%;
        height: 165px;
        object-fit: cover;
      }
    }

    .card-img .img-btn-left, .img-btn-right {
      position: absolute;
      top: 5%;
      right: 3%;
      background-color: #99e2d0;
      color: #008766;
      font-size: 13px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 3px;
    }


  }


  .card-body .strong {
    font-weight: 900;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 1rem;
  }

  .heart i {
    font-size: 20px;
    color: #777777;
  }

  .card-footer {
    font-size: 0.85rem;
    width: 80%;
    height: 340px;
    font-weight: normal;
  }


  footer {
    background-color: #353535;
    color: white;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;


    .logo {
      filter: invert(100%);
      margin-left: 5px;
      margin-bottom: 35px;
      width: 200px;
    }

    .col {
      font-size: 1rem;

      .start {
        width: 29%;
      }

      .middle {
        width: 30%;
      }

      .end {
        margin-left: 0;
      }

      .footer-icon .fas {
        width: 30%;
        color: white;
      }
    }
  }

  .header {
    display: block;
    padding: 10px;
    margin: 0;
    position: relative;
  }
  .menus .back-index {
    font-size: 1.3rem;
    position: absolute;
    top: 1.7rem;
    left: 2rem;
    font-weight: 900;
    color: black;
  }

  .content-top {
    height: 140px;

    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }

  .content-body {
    background-color: #f6f6f6;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    display: flex;

    .menu {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto;
      width: 100%;
    }

  }

  .content-body .menu h1 {
    font-size: 1.4rem;
    width: 80%;
    padding: 20px 20px 20px 0;
  }

  .cards-menu section {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 15px;
    flex: 1 0 auto;

    .menu-card hgroup {
      padding: 3px 3px 3px 13px;
      flex: 1 1 auto;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-left: 15px;

      h2 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .button-rose-menu {
    background-image: linear-gradient(#FF79DA, #9356DC);
    font-size: 1rem;
    border: none;
    width: auto;
    cursor: pointer;
    border-radius: 30px;
    height: auto;
    margin: 15px 15px 50px 15px;
    padding: 15px 20px 20px 20px;
    color: white;
    box-shadow: 6px 6px 10px #c3c3c3;
  }


}


@media screen and (max-width: 375px) {



  .accueil-logo img {
    width: 200px;
  }


  h2 {
    font-size: 1rem;
  }

  .button-rose {
    font-size: 0.70rem;
    font-weight: bold;
  }

  .header-right {
    display: block;
  }

  .right {
    font-size: 1.2rem;
  }

  .header-right .number {
    width: 100%;

    .number-button {
      font-size: 12px;

      .iconback {
        display: inline-block;
        color: #8e8e8e;
        margin: 0 30px;
        padding: 0;
      }
      .link-text {
        font-weight: 600;
        padding: 0;
      }
    }
  }

  #content {
    margin-top: 50px;
    margin-bottom: 60px;

    .cards {
      padding: 0;

      .card {
        height: 270px;
        padding-right: 30px;
      }
    }

    .restaurants {
      font-weight: 900;
      font-size: 1.4rem;
      margin-left: 25px;
      margin-bottom: 5px;
      color: black;
    }

  }


  .card-img {
    .img-btn-left {
      position: absolute;
      top: 5%;
      right: 3%;
      background-color: #99e2d0;
      color: #008766;
      font-size: 13px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 3px;
    }

    .img-btn-right {
      position: absolute;
      top: 5%;
      right: 3%;
      background-color: #99e2d0;
      color: #008766;
      font-size: 13px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 3px;
    }
  }

  .card-body {

    .strong {
      font-weight: 900;
      font-family: "Roboto-Bold", sans-serif;
      font-size: 1rem;
    }

    .heart i {
      font-size: 20px;
      color: #777777;
    }

    .card-footer {
      font-size: 0.95rem;
      width: 80%;
      height: auto;
    }
  }

  footer {
    background-color: #353535;
    color: white;
    margin: auto;
    padding: 20px;

    .logo {
      filter: invert(100%);
      margin-left: 5px;
      margin-bottom: 35px;
      width: 200px;
    }

    .col {
      font-size: 1rem;

      .start {
        width: 16%;
      }

      .middle {
        width: 16%;
      }

      .end {
        width: 16%;
      }

      .footer-icon .fas {
        width: 30%;
        color: white;
      }
    }

  }

  /*Menus*/

  .header {
    display: block;
    padding: 10px;
    margin: 0;
    position: relative;
  }
  .menus .back-index {
    font-size: 1.3rem;
    position: absolute;
    top: 1.7rem;
    left: 2rem;
    font-weight: 900;
    color: black;
  }

  .content-top {
    height: 140px;

    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }

  .content-body {
    background-color: #f6f6f6;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    display: flex;

    .menu {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: auto;
      width: 100%;
    }

  }

  .content-body .menu h1 {
    font-size: 1.4rem;
    width: 80%;
    padding: 20px 20px 20px 0;
  }

  .cards-menu section {
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 15px;
    flex: 1 0 auto;

    .menu-card hgroup {
      padding: 3px 3px 3px 13px;
      flex: 1 1 auto;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-left: 15px;


      h2 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .button-rose-menu {
    background-image: linear-gradient(#FF79DA, #9356DC);
    font-size: 1rem;
    border: none;
    width: auto;
    cursor: pointer;
    border-radius: 30px;
    height: auto;
    margin: 15px 15px 50px 15px;
    padding: 15px 20px 20px 20px;
    color: white;
    box-shadow: 6px 6px 10px #c3c3c3;
  }


  footer {

    .logo {
      filter: invert(100%);
      margin-left: 5px;
      margin-bottom: 35px;
      width: 200px;
    }

    .col {
      font-size: 1rem;
      display: block;

      .start {
        width: 100%;
        padding: 5px 0 5px 0;
      }

      .footer-icon {
        width: 100%;
        display: inline-block;

        .fas {
          width: 10%;
        }
      }

      .middle {
        width: 100%;
        padding: 5px 0 5px 0;
      }

      .end {
        width: 100%;
        padding: 5px 0 5px 0;
      }
    }
  }

}

@media screen and (max-width: 320px) {

  h1 {
    font-size: 1.2rem;
    padding: 25px 25px 10px 25px;
  }
  h2 {
    font-size: 0.75rem;
  }

  .button-rose {
    font-size: 0.7rem;
    font-weight: bold;
    padding: 13px;
  }

  .right {
    font-size: 1.2rem;
  }


  .header-right {
    display: block;

    .number {
      width: 100%;


      .number-button {
        font-size: 12px;

        &:hover .iconback i {
          font-size: 17px;
          color: #9356dc;
        }

        .iconback {
          display: inline-block;
          color: #8e8e8e;
          margin: 0 30px;
          padding: 0;
        }

        .link-text {
          font-weight: 600;
          padding: 0;
        }
      }
    }
  }


  /*Menus*/
  .header {
    position: relative;

    .back-btn {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }

  .menus .back-index {
    font-size: 1.3rem;
    position: absolute;
    top: 1.9rem;
    left: 1.7rem;
    font-weight: 900;
    color: black;
  }


  .accueil-logo .logo-menu {
    width: 200px;
  }

  .content-body .menu h1 {
    font-size: 1.2rem;
    width: 80%;
    padding: 20px 20px 20px 0;
  }
  .menu .heart {
    position: relative;
    right: 15px;
    top: 30px;
  }


  .content-body .menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
  }

  .cards-menu section .menu-card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px 2px 10px 2px #e0e0e0;
    margin: 15px -10px 15px 10px;
    border-radius: 15px;
    width: auto;
  }

  footer {

    .logo {
      filter: invert(100%);
      margin-left: 5px;
      margin-bottom: 35px;
      width: 200px;
    }

    .col {
      font-size: 1rem;
      display: block;

      .start {
        width: 100%;
        padding: 5px 0 5px 0;
      }

      .footer-icon {
        width: 100%;
        display: inline-block;

        .fas {
          width: 10%;
        }
      }

      .middle {
        width: 100%;
        padding: 5px 0 5px 0;
      }

      .end {
        width: 100%;
        padding: 5px 0 5px 0;
      }
    }
  }

}

