//@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import "_variables";
@import "cards";

:focus {
  border: none;
  outline: none;
}

.loading {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0s 2s forwards;
}

.loading__spinner-1 {
  position: fixed;
  top: 48%;
  left: 48%;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid $primary;
  animation: loader 0.8s backwards infinite;
}

.loading__spinner-2 {
  position: fixed;
  top: 48%;
  left: 48%;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid $secondary;
  animation: loader 0.8s 0.4s backwards infinite;
}
.loading__spinner-3 {
  position: fixed;
  top: 48%;
  left: 48%;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid darken($grey, 20) ;
  animation: loader 0.8s 0.6s backwards infinite;
}


h1 {
  font-size: 2rem;
  font-weight: bold;

  &.shrink {
    font-family: Shrikhand, cursive;
  }
}

h2 {
  font-size: 1.25rem;
  font-weight: 300;
  color: darken($grey, 50);
}

.right {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}


body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
  padding: 10px;
}

.accueil-logo {
  margin: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  padding: 10px;
  margin: 0;


  .header-left {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    height: auto;
    padding: 0 0 15px 0;
    margin: 10px;
    background-color: $grey;
    text-align: center;
    align-items: center;

    .location,
    .fas input {
      background-color: darken($grey, 15);
      font-size: 1.2rem;
      text-align: center;
      font-weight: bold;
      align-items: center;
    }

    .input-field input {
      border: none;
      background-color: inherit;
      text-align: center;
      fill: #222;
      color: #000;
    }

    form.location {
      background-color: #eaeaea;
      display: flex;
      width: 100%;
      justify-content: center;
    }

  }
}

  .header-right {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    flex-direction: column;
    height: auto;
    padding: 0 0 15px 0;
    margin: 10px;

    span strong {
      font-size: 2rem;
    }
    .number {

      .number-button {
        &:hover {

          background-color: lighten($primary, 35);
          box-shadow: $box-shadow-hover;

          .iconback i {
            font-size: 20px;
            color: #9356dc;
          }
        }

      }
    }



    .number {
      display: flex;
      flex-flow: nowrap;
      flex-direction: row;
      padding: 15px;
      position: relative;
      align-content: space-between;
      width: 100%;
      a {

        text-decoration: none;
        justify-content: space-evenly;
        box-shadow: $box-shadow;
      }


      .number-button {
        color: #484848;
        flex: 1 0 auto;
        position: relative;
        font-size: 20px;
        padding: 15px 0;
        border-radius: 30px;
        background-color: #f2f2f2;
        margin: 0 15px;

        .iconback-number {
          background-color: #9356dc;
          display: block;
          position: absolute;
          width: 25px;
          height: 25px;
          text-align: center;
          border-radius: 100%;
          color: white;
          left: -12px;
          top: 30%;
          font-size: 1rem;
        }

        .link-text {
          font-weight: 600;
          padding-left: 60px;
        }
      }

    }
  }
.number-button {
  .iconback {

    display: inline-block;
    color: #8e8e8e;
    margin: 0 30px;
    padding-left: 30px;
  }
}


.button-rose {
  background-image: linear-gradient($secondary, $primary);
  font-size: 1.5rem;
  border: none;
  width: 50%;
  cursor: pointer;
  border-radius: 30px;
  height: auto;
  margin: 15px;
  padding: 15px 20px 20px 20px;
  color: white;
  box-shadow: $box-shadow;


  &:hover {
    background-image: linear-gradient(#fa9be0, #ab79e6);
    box-shadow: $box-shadow-hover;
    border: none;
  }
}


section {
  display: flex;
  background-color: $grey;
  height: auto;
  width: 100%;
  margin-top: 15px;
  justify-content: center;
}

#content {
  margin-top: 50px;
  display: flex;
  flex: 0 0 100%;
}


.restaurants {

  font-weight: 900;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 20px;
  color: black;
}


.heart {
  position: relative;


  .hover-icon {
    position: absolute;
    left: 0;
    opacity: 0;

    transform-origin: bottom;
    transition: opacity 250ms;
  }

  
  i {
    font-size: 25px;
    color: darken($grey, 50);
    left: 50%;
  }

  &:hover {
    overflow: hidden;
    cursor: pointer;

    .default-icon {
      opacity: 0;
      transition: all 0.5s 0s ease;
    }

    .hover-icon {
      opacity: 1;
      transition: all 0.5s 0s ease;
      color: $hearts;
      z-index: 999;
    }
  }

}


footer {
  background-color: #353535;
  color: white;
  margin: auto;
  padding: 30px;


  .logo {
    filter: invert(100%);
    margin-bottom: 50px;
    width: 500px;
  }
}


.col {
  margin-left: 90px;

  a {
    text-decoration: none;
    color: #ffffff;
  }
}

footer .col {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;


  .start {
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
  }

  .middle {
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
  }

  .end {
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
  }

  .footer-icon {
    width: 50%;
  }

  .footer-icon .fas {
    width: 10%;
    color: white;
  }

  .footer-icon .far {
    width: 10%;

  }

  .end {
    margin-left: 30px;
  }
}


/*menu*/


.header-menu {
  position: relative;

  .back-btn {
    width: 100%;
    height: 100%;

  }

}


.menus {
  font-family: Roboto, sans-serif;

  .back-index {

    font-size: 1.3rem;
    position: absolute;
    top: 1.5rem;
    left: 5rem;
    font-weight: 900;
    color: black;
  }
}

.accueil-logo {

  .logo-menu {
    width: 300px;
  }
}

.menu .heart {
  position: relative;
  right: 30px;
  top: 30px;
}
.menus section {
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-top: 15px;


}

.content-top {
  height: 350px;

  img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    z-index: -1;

  }
}


.button-rose-menu {
  background-image: linear-gradient($secondary, $primary);
  font-size: 1rem;
  border: none;
  width: 15%;
  cursor: pointer;
  border-radius: 30px;
  height: auto;
  margin: 15px 15px 50px 15px;
  padding: 15px 20px 20px 20px;
  color: white;
  box-shadow: $box-shadow;

  &:hover {
    background-image: linear-gradient(#fa9be0, #ab79e6);
    box-shadow: $box-shadow-hover;
    border: none;
  }
}


@keyframes hover-btn {
  0% {
    transform: rotate(-90deg);
  }

  40% {
    transform: rotate(-55deg);
  }

  70% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes circle-hover-btn {
  0% {
    opacity: .4;
    transform: translate(15px, 0);
  }

  40% {
    opacity: .6;
    transform: translate(10px, 0);
  }

  70% {
    opacity: .8;
    transform: translate(6px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(1px, 0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
    z-index: -10;

  }
}
@keyframes loader {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}